
.App {
    text-align: center;
    color: rgb(4, 4, 4);
    padding: 20px;
  }
  
  .additional-container1 {
    width: 300px; /* Set width */
    height: 20px; /* Set height */
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 15px; /* Adjust padding as needed */
    background-color: #ffffff; /* Set background color */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 8px; /* Add border-radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a box shadow */
}
.additional-container {
  width: 400px; /* Set width */
  height: 300px; /* Set height */
  margin-left: 20px;
  padding: 15px; /* Adjust padding as needed */
  background-color: #ffffff; /* Set background color */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 8px; /* Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a box shadow */
}
.chartContainer {
  width: 250px;
  height: 250px;
  margin-top: 5px;
  margin-left: 50px;
  background-color: #fff;
 
  padding: 20px;
  
}
.dropdown-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}
.chart{
  display: flex;
}
select {
  padding: 5px;
  border-radius: 5px;
}
  
  
  
  .sensor-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(146, 212, 240, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .irrigation-switch{
    margin-top: 10px;
    
  }
  
  .react-switch {
    margin-left: 10px;
    margin-bottom: -10px;
  }
  
  .gauge-chart {
    width: 100px;
    margin: 10px;
  }
  